<!doctype jinja2>
{% extends 'layout.jinja2' %}

{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}

{% block subtitle %} Binderfinder- search the patent database {% endblock subtitle %}

{% block content %}
<p>{{ content|safe }}</p>
<p>
<form action="{{request.route_url('search')}}" method="post" class ="form">
      Input keywords to search against the patent database:
      <p>{{ input('keywords', keys) }}</p> 
      Input a comma separated list of Pfam ids to filter by: 
      (by default antibody v-set domain, PF07686):
      <p>{{ input('pfams', pfamids) }}</p> 
            <div class="form-group">
            <label></label>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
You can find Pfam ids by searching the <a href="http://pfam.xfam.org/">Pfam website</a> using a keyword search.

</form>

</p>
<p>You can return
<a href="{{request.route_url('home')}}">Home</a>.
</p>
{% endblock content %}

